@font-face {
    font-family: SamsungOne;
    src: url(SamsungOne/SamsungOne_Bold.ttf);
}

@font-face {
    font-family: SamStd;
    src: url(SamsungOne/SamsungOne_Std.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #000;
    background-repeat: no-repeat;
}

.text {
    text-align: center;
    color: #99ffff;
    font-size: 5vh;
    margin: 120px;
    font-family: SamsungOne;
}

.message {
    background-color: #252525;
    margin: 3vh;
    padding: 2vh;
    text-align: left;
    color: #fafafa;
    font-size: 3vh;
    font-family: SamStd;
    line-height: 4vh;
    border: solid;
    border-width: 0.5vh;
    border-color: #99ffff;
    border-radius: 2.8vh;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn button {
    align-items: center;
    margin-top: 10vh;
    padding: 2vh 10vh;
    font-family: SamsungOne;
    font-size: 3vh;
    color: #fafafa;
    background-color: #000;
    border: solid;
    border-width: 0.4vh;
    border-color: #00ff00;
    border-radius: 200px;
    cursor: pointer;

}

.btn button:hover {
    color: #000;
    background-color: #fafafa;

}